<!DOCTYPE html>
<html lang="en">
	<head>
	{% load staticfiles %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<title>{% block title %}{% endblock %}</title>
 		
		<!-- BOOTSTRAP CSS (REQUIRED ALL PAGE)-->
		<link href="{% static "assets/css/bootstrap.min.css"%}" rel="stylesheet">
		
		<!-- PLUGINS CSS -->
		<link href="{% static "assets/plugins/weather-icon/css/weather-icons.min.css"%}" rel="stylesheet">
		<link href="{% static "assets/plugins/prettify/prettify.min.css"%}" rel="stylesheet">
		<link href="{% static "assets/plugins/magnific-popup/magnific-popup.min.css"%}" rel="stylesheet">
		<link href="{% static "assets/plugins/owl-carousel/owl.carousel.min.css"%}" rel="stylesheet">
		<link href="{% static "assets/plugins/owl-carousel/owl.theme.min.css"%}" rel="stylesheet">
		<link href="{% static "assets/plugins/owl-carousel/owl.transitions.min.css"%}" rel="stylesheet">
		<link href="{% static "assets/plugins/chosen/chosen.min.css"%}" rel="stylesheet">
		<link href="{% static "assets/plugins/icheck/skins/all.css"%}" rel="stylesheet">
		<link href="{% static "assets/plugins/datepicker/datepicker.min.css"%}" rel="stylesheet">
		<link href="{% static "assets/plugins/timepicker/bootstrap-timepicker.min.css"%}" rel="stylesheet">
		<link href="{% static "assets/plugins/validator/bootstrapValidator.min.css"%}" rel="stylesheet">
		<link href="{% static "assets/plugins/summernote/summernote.min.css"%}" rel="stylesheet">
		<link href="{% static "assets/plugins/markdown/bootstrap-markdown.min.css"%}" rel="stylesheet">
		<link href="{% static "assets/plugins/datatable/css/bootstrap.datatable.min.css"%}" rel="stylesheet">
		<link href="{% static "assets/plugins/morris-chart/morris.min.css"%}" rel="stylesheet">
		<link href="{% static "assets/plugins/c3-chart/c3.min.css"%}" rel="stylesheet">
		<link href="{% static "assets/plugins/slider/slider.min.css"%}" rel="stylesheet">
		
		<!-- MAIN CSS (REQUIRED ALL PAGE)-->
		<link href="{% static "assets/plugins/font-awesome/css/font-awesome.min.css"%}" rel="stylesheet">
		<link href="{% static "assets/css/style.css"%}" rel="stylesheet">
		<link href="{% static "assets/css/style-responsive.css"%}" rel="stylesheet">
 
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
 
	<body class="{% block bodyclass %}{% endblock %}">

		<!--
		===========================================================
		BEGIN PAGE
		===========================================================
		-->
		{% block content %}{% endblock %}

		<!--
		===========================================================
		END PAGE
		===========================================================
		-->
		
		<!--
		===========================================================
		Placed at the end of the document so the pages load faster
		===========================================================
		-->
		<!-- MAIN JAVASRCIPT (REQUIRED ALL PAGE)-->
		<script src="{% static "assets/js/jquery.min.js"%}"></script>
		<script src="{% static "assets/js/bootstrap.min.js"%}"></script>
		<script src="{% static "assets/plugins/retina/retina.min.js"%}"></script>
		<script src="{% static "assets/plugins/nicescroll/jquery.nicescroll.js"%}"></script>
		<script src="{% static "assets/plugins/slimscroll/jquery.slimscroll.min.js"%}"></script>
		<script src="{% static "assets/plugins/backstretch/jquery.backstretch.min.js"%}"></script>
 
		<!-- PLUGINS -->
		<script src="{% static "assets/plugins/skycons/skycons.js"%}"></script>
		<script src="{% static "assets/plugins/prettify/prettify.js"%}"></script>
		<script src="{% static "assets/plugins/magnific-popup/jquery.magnific-popup.min.js"%}"></script>
		<script src="{% static "assets/plugins/owl-carousel/owl.carousel.min.js"%}"></script>
		<script src="{% static "assets/plugins/chosen/chosen.jquery.min.js"%}"></script>
		<script src="{% static "assets/plugins/icheck/icheck.min.js"%}"></script>
		<script src="{% static "assets/plugins/datepicker/bootstrap-datepicker.js"%}"></script>
		<script src="{% static "assets/plugins/timepicker/bootstrap-timepicker.js"%}"></script>
		<script src="{% static "assets/plugins/mask/jquery.mask.min.js"%}"></script>
		<script src="{% static "assets/plugins/validator/bootstrapValidator.min.js"%}"></script>
		<script src="{% static "assets/plugins/datatable/js/jquery.dataTables.min.js"%}"></script>
		<script src="{% static "assets/plugins/datatable/js/bootstrap.datatable.js"%}"></script>
		<script src="{% static "assets/plugins/summernote/summernote.min.js"%}"></script>
		<script src="{% static "assets/plugins/markdown/markdown.js"%}"></script>
		<script src="{% static "assets/plugins/markdown/to-markdown.js"%}"></script>
		<script src="{% static "assets/plugins/markdown/bootstrap-markdown.js"%}"></script>
		<script src="{% static "assets/plugins/slider/bootstrap-slider.js"%}"></script>
		
		<!-- EASY PIE CHART JS -->
		<script src="{% static "assets/plugins/easypie-chart/easypiechart.min.js"%}"></script>
		<script src="{% static "assets/plugins/easypie-chart/jquery.easypiechart.min.js"%}"></script>
		
		<!-- KNOB JS -->
		<!--[if IE]>
		<script type="text/javascript" src="assets/plugins/jquery-knob/excanvas.js"></script>
		<![endif]-->
		<script src="{% static "assets/plugins/jquery-knob/jquery.knob.js"%}"></script>
		<script src="{% static "assets/plugins/jquery-knob/knob.js"%}"></script>

		<!-- FLOT CHART JS -->
		<script src="{% static "assets/plugins/flot-chart/jquery.flot.js"%}"></script>
		<script src="{% static "assets/plugins/flot-chart/jquery.flot.tooltip.js"%}"></script>
		<script src="{% static "assets/plugins/flot-chart/jquery.flot.resize.js"%}"></script>
		<script src="{% static "assets/plugins/flot-chart/jquery.flot.selection.js"%}"></script>
		<script src="{% static "assets/plugins/flot-chart/jquery.flot.stack.js"%}"></script>
		<script src="{% static "assets/plugins/flot-chart/jquery.flot.time.js"%}"></script>

		<!-- MORRIS JS -->
		<script src="{% static "assets/plugins/morris-chart/raphael.min.js"%}"></script>
		<script src="{% static "assets/plugins/morris-chart/morris.min.js"%}"></script>
		
		<!-- C3 JS -->
		<script src="{% static "assets/plugins/c3-chart/d3.v3.min.js"%}" charset="utf-8"></script>
		<script src="{% static "assets/plugins/c3-chart/c3.min.js"%}"></script>
		
		<!-- MAIN APPS JS -->
		<script src="{% static "assets/js/apps.js"%}"></script>
		
	</body>
</html>
